/*General*/
body{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}


#footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: gray;
    border-top: 8px solid #b87324;
    text-align: center;
  }


#footer-note{
    color: white;
}

/* Game Content styling */
#game-content{
    text-align: center;
    margin-top: 10px;
}
#game-title{
    background-image: url("clone-wars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
    border: 5px white solid;
    border-radius: 20px;
    padding: 15%;
}

#game-title h1{
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.img-thumbnail{
    height: 150px;
    width: 150px;
}

#wins-tracker{
    border: 10px white dotted;
    background-color: black;
    color: white;
    font-size: 25px;
}

#game-word-guessing{
    border: 8px dashed lightgoldenrodyellow;
    background-color: black;
    color: yellow;
}

#guess-word{
    font-size: 50px;
}

#game-word-guessing .row:first-child {

    border-bottom: 2px solid yellow;
}

@media screen and (max-width: 768px){

    #game-word-guessing{
        margin-top: 20px;
    }

    .img-thumbnail{
        margin-bottom: 20px;
    }
}

